.image-selector-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
}

@media (max-width: 1220px) {
    .image-selector-nav {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

.image-selector-nav>a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}

.image-selector-nav>a>img {
    width: 25em;
    height: 15em;
    transition: 0.2s;
}

.image-selector-nav>a>img:hover {
    scale: 1.1;
}